<!-- Tích hợp Google Fonts -->

{% assign announcement_text = settings.announcement_text %}
{% assign countdown_days = settings.countdown_days %}
{% assign countdown_hours = settings.countdown_hours %}
{% assign countdown_minutes = settings.countdown_minutes %}
{% assign countdown_seconds = settings.countdown_seconds %}
{% assign font_size = settings.font_size %}
{% assign font_weight = settings.font_weight %}
{% assign font_family = settings.font_family %}
{% assign bar_height = settings.bar_height %}

<link rel="stylesheet" href="{{ 'announcement-bar.css' | asset_url }}">

<div
  id="announcement-bar"
  style="height: {{ bar_height }}px; --font-size: {{ font_size }}px; --font-weight: {{ font_weight }}; --font-family: {{ font_family }};"
>
  <div id="countdown" style="font-size: {{ font_size }}px; font-weight: {{ font_weight }};">
    {{ announcement_text }}: <span id="time"></span>
  </div>
  <button id="close-btn">
    <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.5" d="M0.972656 1.52148C0.820312 1.38086 0.744141 1.21094 0.744141 1.01172C0.744141 0.800781 0.820312 0.619141 0.972656 0.466797C1.11328 0.326172 1.28906 0.255859 1.5 0.255859C1.71094 0.255859 1.88672 0.326172 2.02734 0.466797L6 4.43945L9.97266 0.466797C10.1133 0.326172 10.2891 0.255859 10.5 0.255859C10.7109 0.255859 10.8867 0.326172 11.0273 0.466797C11.1797 0.619141 11.2559 0.800781 11.2559 1.01172C11.2559 1.21094 11.1797 1.38086 11.0273 1.52148L7.05469 5.49414L11.0273 9.4668C11.1797 9.61914 11.2559 9.80078 11.2559 10.0117C11.2559 10.2109 11.1797 10.3809 11.0273 10.5215C10.8867 10.6738 10.7109 10.75 10.5 10.75C10.2891 10.75 10.1133 10.6738 9.97266 10.5215L6 6.56641L2.02734 10.5215C1.88672 10.6738 1.71094 10.75 1.5 10.75C1.28906 10.75 1.11328 10.6738 0.972656 10.5215C0.820312 10.3809 0.744141 10.2109 0.744141 10.0117C0.744141 9.80078 0.820312 9.61914 0.972656 9.4668L4.94531 5.49414L0.972656 1.52148Z" fill="white"/>
    </svg>
  </button>
</div>

<script>
  const countdownDate = new Date().getTime() +
    ({{ countdown_days }} * 86400 * 1000 + {{ countdown_hours }} * 3600 * 1000 + {{ countdown_minutes }} * 60 * 1000 + {{ countdown_seconds }} * 1000);

  const countdownFunction = setInterval(function() {
    const now = new Date().getTime();
    const distance = countdownDate - now;

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("time").innerHTML =
      days + " days : " + hours + " hour : " + minutes + " mins : " + seconds + " secs";

    if (distance < 0) {
      clearInterval(countdownFunction);
      document.getElementById("time").innerHTML = "Hết thời gian!";
    }
  }, 1000);

  document.getElementById("close-btn").onclick = function() {
    document.getElementById("announcement-bar").style.display = "none";
  }
</script>
