<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}


<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
            <svg width="92" height="20" viewBox="0 0 92 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.7589 1.22514V11.5419C11.7828 12.1367 11.6692 12.729 11.4271 13.2724C11.2348 13.6987 10.9516 14.0774 10.5974 14.3818C10.2896 14.6293 9.93633 14.814 9.55764 14.9253C8.89595 15.1391 8.184 15.1391 7.52231 14.9253C7.12213 14.8172 6.74654 14.6327 6.41615 14.3818C6.05874 14.0778 5.77183 13.6992 5.57546 13.2724C5.34294 12.7263 5.23341 12.1354 5.25468 11.5419V0.00488281H0.000413445V11.5419C-0.0106251 12.7279 0.199465 13.9055 0.619864 15.0141C1.00606 16.0113 1.59355 16.9177 2.34547 17.6765C3.11709 18.4277 4.03629 19.0095 5.04451 19.3848C6.16345 19.7957 7.34861 19.995 8.53998 19.9728C9.73203 19.9914 10.9172 19.7883 12.0354 19.3737C13.0437 18.9984 13.9629 18.4166 14.7345 17.6654C15.4878 16.9099 16.0723 16.0024 16.449 15.003C16.8605 13.8923 17.0667 12.7156 17.0574 11.5308V1.22514V0.00488281H11.7589V1.22514Z" fill="#111111"/>
              <path d="M36.1158 0.00512695H35.9941L30.4633 8.77991C30.4633 8.77991 24.7555 0.00512695 24.7224 0.00512695H19.3132V19.973H24.7224V9.55643L30.4302 17.6434L35.961 9.55643V19.973H41.3811V18.7528V1.22539V0.00512695H36.1158Z" fill="#111111"/>
              <path d="M43.6594 1.22539V10.1998V18.7639V19.3185V19.9841H44.2899H48.3052H48.9468V19.3407V10.1998L48.9579 1.22539V0.00512695H43.6594V1.22539Z" fill="#111111"/>
              <path d="M91.2026 6.11735C90.6985 4.93333 89.9739 3.85655 89.0677 2.94468C88.1568 2.03499 87.0837 1.30496 85.9041 0.792583C84.6799 0.269587 83.3631 0 82.0325 0C80.7019 0 79.3851 0.269587 78.1609 0.792583C76.9801 1.29677 75.9091 2.02788 75.0084 2.94468C74.1136 3.86131 73.3971 4.93727 72.8956 6.11735C72.3741 7.34498 72.1053 8.66561 72.1053 10C72.1053 11.3344 72.3741 12.655 72.8956 13.8826C73.4037 15.0645 74.1278 16.1406 75.0305 17.0553C75.9312 17.9721 77.0022 18.7032 78.1831 19.2074C79.4072 19.7304 80.724 20 82.0546 20C83.3852 20 84.7021 19.7304 85.9262 19.2074C87.1058 18.695 88.1789 17.965 89.0898 17.0553C89.996 16.1434 90.7206 15.0667 91.2247 13.8826C91.7538 12.6541 92.0177 11.3271 91.999 9.98891C92.0063 8.65675 91.735 7.33785 91.2026 6.11735ZM86.4239 11.8859C86.1844 12.4726 85.8394 13.0103 85.4063 13.4722C84.9703 13.9335 84.4527 14.3097 83.8798 14.5815C83.3065 14.8557 82.6787 14.996 82.0436 14.992C81.4048 14.9962 80.7734 14.8559 80.1963 14.5815C79.6284 14.3121 79.1176 13.9355 78.6919 13.4722C78.2623 13.0097 77.9211 12.472 77.6853 11.8859C77.4324 11.2858 77.3044 10.6403 77.3092 9.98891C77.3204 8.70203 77.814 7.46649 78.6919 6.52781C79.1201 6.06736 79.6303 5.69114 80.1963 5.41848C80.7734 5.14412 81.4048 5.00382 82.0436 5.00803C82.6787 5.00396 83.3065 5.14429 83.8798 5.41848C84.4508 5.69357 84.9678 6.06931 85.4063 6.52781C85.8439 6.98192 86.1895 7.51689 86.4239 8.10305C86.6684 8.70177 86.7961 9.34195 86.8 9.98891C86.7992 10.6398 86.6714 11.2842 86.4239 11.8859Z" fill="#111111"/>
              <path d="M65.2634 0.00512695H64.5886V0.681817V1.22539V5.28553H69.854V1.22539V0.681817V0.00512695H69.2456H65.2634Z" fill="#111111"/>
              <path d="M56.6239 0.00512695H55.9492H51.8896H51.8785H51.2037V0.681817V1.22539V5.28553V18.7639V19.3074V19.9841H51.8896H55.9492H56.6239V19.3074V18.7639V8.41383L64.5883 19.9841H69.1789H69.8536V19.3074V18.7639V17.8098L60.2632 5.28553L56.6239 0.00512695Z" fill="#111111"/>
            </svg>
              
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
            <svg width="92" height="20" viewBox="0 0 92 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.7589 1.22514V11.5419C11.7828 12.1367 11.6692 12.729 11.4271 13.2724C11.2348 13.6987 10.9516 14.0774 10.5974 14.3818C10.2896 14.6293 9.93633 14.814 9.55764 14.9253C8.89595 15.1391 8.184 15.1391 7.52231 14.9253C7.12213 14.8172 6.74654 14.6327 6.41615 14.3818C6.05874 14.0778 5.77183 13.6992 5.57546 13.2724C5.34294 12.7263 5.23341 12.1354 5.25468 11.5419V0.00488281H0.000413445V11.5419C-0.0106251 12.7279 0.199465 13.9055 0.619864 15.0141C1.00606 16.0113 1.59355 16.9177 2.34547 17.6765C3.11709 18.4277 4.03629 19.0095 5.04451 19.3848C6.16345 19.7957 7.34861 19.995 8.53998 19.9728C9.73203 19.9914 10.9172 19.7883 12.0354 19.3737C13.0437 18.9984 13.9629 18.4166 14.7345 17.6654C15.4878 16.9099 16.0723 16.0024 16.449 15.003C16.8605 13.8923 17.0667 12.7156 17.0574 11.5308V1.22514V0.00488281H11.7589V1.22514Z" fill="#111111"/>
              <path d="M36.1158 0.00512695H35.9941L30.4633 8.77991C30.4633 8.77991 24.7555 0.00512695 24.7224 0.00512695H19.3132V19.973H24.7224V9.55643L30.4302 17.6434L35.961 9.55643V19.973H41.3811V18.7528V1.22539V0.00512695H36.1158Z" fill="#111111"/>
              <path d="M43.6594 1.22539V10.1998V18.7639V19.3185V19.9841H44.2899H48.3052H48.9468V19.3407V10.1998L48.9579 1.22539V0.00512695H43.6594V1.22539Z" fill="#111111"/>
              <path d="M91.2026 6.11735C90.6985 4.93333 89.9739 3.85655 89.0677 2.94468C88.1568 2.03499 87.0837 1.30496 85.9041 0.792583C84.6799 0.269587 83.3631 0 82.0325 0C80.7019 0 79.3851 0.269587 78.1609 0.792583C76.9801 1.29677 75.9091 2.02788 75.0084 2.94468C74.1136 3.86131 73.3971 4.93727 72.8956 6.11735C72.3741 7.34498 72.1053 8.66561 72.1053 10C72.1053 11.3344 72.3741 12.655 72.8956 13.8826C73.4037 15.0645 74.1278 16.1406 75.0305 17.0553C75.9312 17.9721 77.0022 18.7032 78.1831 19.2074C79.4072 19.7304 80.724 20 82.0546 20C83.3852 20 84.7021 19.7304 85.9262 19.2074C87.1058 18.695 88.1789 17.965 89.0898 17.0553C89.996 16.1434 90.7206 15.0667 91.2247 13.8826C91.7538 12.6541 92.0177 11.3271 91.999 9.98891C92.0063 8.65675 91.735 7.33785 91.2026 6.11735ZM86.4239 11.8859C86.1844 12.4726 85.8394 13.0103 85.4063 13.4722C84.9703 13.9335 84.4527 14.3097 83.8798 14.5815C83.3065 14.8557 82.6787 14.996 82.0436 14.992C81.4048 14.9962 80.7734 14.8559 80.1963 14.5815C79.6284 14.3121 79.1176 13.9355 78.6919 13.4722C78.2623 13.0097 77.9211 12.472 77.6853 11.8859C77.4324 11.2858 77.3044 10.6403 77.3092 9.98891C77.3204 8.70203 77.814 7.46649 78.6919 6.52781C79.1201 6.06736 79.6303 5.69114 80.1963 5.41848C80.7734 5.14412 81.4048 5.00382 82.0436 5.00803C82.6787 5.00396 83.3065 5.14429 83.8798 5.41848C84.4508 5.69357 84.9678 6.06931 85.4063 6.52781C85.8439 6.98192 86.1895 7.51689 86.4239 8.10305C86.6684 8.70177 86.7961 9.34195 86.8 9.98891C86.7992 10.6398 86.6714 11.2842 86.4239 11.8859Z" fill="#111111"/>
              <path d="M65.2634 0.00512695H64.5886V0.681817V1.22539V5.28553H69.854V1.22539V0.681817V0.00512695H69.2456H65.2634Z" fill="#111111"/>
              <path d="M56.6239 0.00512695H55.9492H51.8896H51.8785H51.2037V0.681817V1.22539V5.28553V18.7639V19.3074V19.9841H51.8896H55.9492H56.6239V19.3074V18.7639V8.41383L64.5883 19.9841H69.1789H69.8536V19.3074V18.7639V17.8098L60.2632 5.28553L56.6239 0.00512695Z" fill="#111111"/>
            </svg>
              
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          {% if cart == empty %}
            <span class="svg-wrapper">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
          {% else %}
            <span class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</span>
          {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "image",
      "info": "92 x 20px .png recommended"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
